<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.73.1</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy">
    <denyAnonymousReadAccess>true</denyAnonymousReadAccess>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <com.tikal.jenkins.plugins.multijob.views.MultiJobView plugin="jenkins-multijob-plugin@1.28">
      <owner class="hudson" reference="../../.."/>
      <name>Current Using</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <com.tikal.jenkins.plugins.multijob.views.StatusColumn/>
        <com.tikal.jenkins.plugins.multijob.views.WeatherColumn/>
        <com.tikal.jenkins.plugins.multijob.views.JobColumn/>
        <com.tikal.jenkins.plugins.multijob.views.LastSuccessColumn/>
        <com.tikal.jenkins.plugins.multijob.views.LastFailureColumn/>
        <com.tikal.jenkins.plugins.multijob.views.LastDurationColumn/>
        <com.tikal.jenkins.plugins.multijob.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.jenkins.plugins.builton.BuiltOnColumn plugin="built-on-column@1.1"/>
      </columns>
      <recurse>false</recurse>
      <columns defined-in="com.tikal.jenkins.plugins.multijob.views.MultiJobView">
        <com.tikal.jenkins.plugins.multijob.views.StatusColumn/>
        <com.tikal.jenkins.plugins.multijob.views.WeatherColumn/>
        <com.tikal.jenkins.plugins.multijob.views.JobColumn/>
        <com.tikal.jenkins.plugins.multijob.views.LastSuccessColumn/>
        <com.tikal.jenkins.plugins.multijob.views.LastFailureColumn/>
        <com.tikal.jenkins.plugins.multijob.views.LastDurationColumn/>
        <com.tikal.jenkins.plugins.multijob.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.jenkins.plugins.builton.BuiltOnColumn plugin="built-on-column@1.1"/>
      </columns>
    </com.tikal.jenkins.plugins.multijob.views.MultiJobView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>